.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: black;
}